.pagesWrapper {
	.pagesContent {
		background-color: white;
		margin: 0 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.listWrapper {
		ul {
			list-style-type:none;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			display: flex;
			padding: 0;
			margin-top: 0;

			li {
				padding: 5px 0;

				a {
					text-decoration: none;
					color: $black
				}

				a:link {
				  text-decoration: none;
					color: $black
				}

				a:visited {
				  text-decoration: none;
					color: $black
				}

				a:hover {
				  text-decoration: underline;
					color: $black
				}

				a:active {
				  text-decoration: underline;
					color: $black
				}
			}
		}
	}
}
