.tabListWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $black;
	background-color: $nevada;
	margin: 10px;
	padding-top: 10px;

	> div {
		width: 100%;
	}
}
