.topicsWrapper {
	flex-direction: column;
	display: flex;

	.listWrapper {
		background-color: white;
		margin: 0 30px;

		ul {
			list-style-type:none;
			padding: 0 30px;

			li {
				padding: 15px 0;
				border-bottom: 1px solid $regent-gray;

				.topic {
					padding-right: 10px;
				}

				.posts {
					color: $regent-gray;
					font-size: 12px;
				}
			}

			li:last-child {
			  border-bottom: none;
			}
		}
	}
}
